# Examples

## Imports

In [1]:
import pandas as pd
import altair as alt

## Data Sourcing

In [2]:
disney = pd.read_csv("https://sigma-resources-public.s3.eu-west-2.amazonaws.com/datasets/disneyland.csv")

In [19]:
disney.groupby("Reviewer_Location").count()["Rating"]

# SELECT Reviewer_Location, COUNT(*) FROM disney GROUP BY Reviewer_Location

Reviewer_Location
Afghanistan             2
Albania                 6
Algeria                 2
Andorra                 2
Antigua and Barbuda     1
                       ..
Venezuela               3
Vietnam                55
Zambia                  4
Zimbabwe                2
ï¿½land Islands           1
Name: Rating, Length: 162, dtype: int64

In [22]:
disney["Branch"].map(type).value_counts()

Branch
<class 'str'>    42656
Name: count, dtype: int64

In [32]:
disney.iloc[[8, 16, 4], [1, 2, 4]]

# .iloc[row_start=0 : row_end=end, col_start=0:col_end=end]

    Rating Year_Month                                        Review_Text
8        2     2019-4  Feel so let down with this place,the Disneylan...
16       4     2019-4  Its huge , not enough to visit in one day. We ...
4        4     2019-4  the location is not in the city, took around 1...

In [36]:
disney.loc[0:5, "Rating":"Review_Text"]

,Rating,Year_Month,Reviewer_Location,Review_Text
0,4,2019-4,Australia,If you've ever been to Disneyland anywhere you...
1,4,2019-5,Philippines,Its been a while since d last time we visit HK...
2,4,2019-4,United Arab Emirates,Thanks God it wasn t too hot or too humid wh...
3,4,2019-4,Australia,HK Disneyland is a great compact park. Unfortu...
4,4,2019-4,United Kingdom,"the location is not in the city, took around 1..."
5,3,2019-4,Singapore,"Have been to Disney World, Disneyland Anaheim ..."

In [37]:
rating_counts = disney.value_counts("Rating").reset_index()

rating_counts

   Rating  count
0       5  23146
1       4  10775
2       3   5109
3       2   2127
4       1   1499

In [46]:
c1 = alt.Chart(rating_counts).mark_bar().encode(
    x="Rating:N",
    y="count",
    tooltip="Rating:N"
)

In [47]:
c1

alt.Chart(...)

In [48]:
def increase(a, b):
    return a + b

In [52]:
disney["Rating"].apply(increase, args=(4, ))

0        8
1        8
2        8
3        8
4        8
        ..
42651    9
42652    9
42653    9
42654    8
42655    8
Name: Rating, Length: 42656, dtype: int64

In [60]:
disney.groupby("Rating").count()["Branch"].reset_index()

   Rating  Branch
0       1    1499
1       2    2127
2       3    5109
3       4   10775
4       5   23146

In [59]:
disney["Rating"].value_counts().reset_index()

   Rating  count
0       5  23146
1       4  10775
2       3   5109
3       2   2127
4       1   1499

In [62]:
disney.set_index("Year_Month")

,Review_ID,Rating,Reviewer_Location,Review_Text,Branch
Year_Month,,,,,
2019-4,670772142,4,Australia,If you've ever been to Disneyland anywhere you...,Disneyland_HongKong
2019-5,670682799,4,Philippines,Its been a while since d last time we visit HK...,Disneyland_HongKong
2019-4,670623270,4,United Arab Emirates,Thanks God it wasn t too hot or too humid wh...,Disneyland_HongKong
2019-4,670607911,4,Australia,HK Disneyland is a great compact park. Unfortu...,Disneyland_HongKong
2019-4,670607296,4,United Kingdom,"the location is not in the city, took around 1...",Disneyland_HongKong
...,...,...,...,...,...
missing,1765031,5,United Kingdom,i went to disneyland paris in july 03 and thou...,Disneyland_Paris
missing,1659553,5,Canada,2 adults and 1 child of 11 visited Disneyland ...,Disneyland_Paris
missing,1645894,5,South Africa,My eleven year old daughter and myself went to...,Disneyland_Paris
missing,1618637,4,United States,"This hotel, part of the Disneyland Paris compl...",Disneyland_Paris
missing,1536786,4,United Kingdom,"I went to the Disneyparis resort, in 1996, wit...",Disneyland_Paris

In [67]:
disney = disney[disney["Year_Month"] != "missing"]

pd.to_datetime(disney["Year_Month"], format="%Y-%m")

0       2019-04-01
1       2019-05-01
2       2019-04-01
3       2019-04-01
4       2019-04-01
           ...
42113   2011-01-01
42114   2011-01-01
42115   2010-12-01
42116   2010-12-01
42117   2010-09-01
Name: Year_Month, Length: 40043, dtype: datetime64[ns]